<html>

<head>
    <title>Compare uma imagem com as existentes no banco.</title>
</head>

<body>
    <div style="padding:20px;">
        <h2>Compare uma imagem com as existentes no banco.</h2>
        <p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
        <ul class=flashes>
            {% for message in messages%}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        </p>
        <form method="post" action="/comparacao" enctype="multipart/form-data">
            <dl>
                <p>
                    <input type="file" name="arquivo" multiple="false" autocomplete="off" required>
                </p>

            </dl>
            <p>
                <input type="submit" value="Submit">
            </p>

        </form>
        {% if filename %}
        <div style="padding:20px;float:left;">
            <img width="500" src="{{ url_for('display_image', filename = filename) }}">
        </div>
        {% endif %}
    </div>
</body>

</html>