<html>

    <head>
        <title>Delete um arquivo</title>
    </head>

    <body>
        <div style="padding:20px;">
            <h2>Delete uma imagem</h2>
            
            <h4>Insira o código uuid da imagem:</h4>

            <form method="post" action="/deletar">        
                <input type="text" id="uuid" name="uuid" placeholder="Código UUID" size="100" required/>
                    <input type="submit"  value="Deletar">

            </form>
        </div>
    </body>

</html>