<html>

<head>
    <title>Faça upload e visualize multiplas imagens.</title>
</head>

<body>
    <div style="padding:20px;">
        <h2>Faça upload e visualize multiplas imagens.</h2>
        <p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
        <ul class=flashes>
            {% for message in messages%}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        </p>
        <form method="post" action="/" enctype="multipart/form-data">
            <dl>
                <p>
                    <input type="file" name="files[]" multiple="true" autocomplete="off" required>
                </p>

            </dl>
            <p>
                <input type="submit" value="Enviar">
            </p>

        </form>
        {% if filenames %}
        {% for filename in filenames %}
        <div style="padding:20px;float:left;">
            <img width="500" src="{{ url_for('display_image_comp', filename = filename) }}">
        </div>
        {% endfor %}
        {% endif %}
    </div>
</body>

</html>